body{
    background:linear-gradient(rgb(97, 251, 97),rgb(225, 237, 117),cadetblue);
}
.height{
    background-color: rgb(242, 244, 154);
    color: rgb(0, 0, 0);
}
.right_footer{
 bottom: 0;
 position: fixed;   
 background-color: rgb(235, 123, 140);
 text-align: center;
 font-size: 25px;
 color:white;
 line-height: 30px;
 width: 100%;
}
canvas{
    background-color: cadetblue;
    border-color: burlywood;
    border-style:double ;
    border-width: 20px;
}
video{
    background-color:rgb(235, 123, 140);
    border-color: rgb(231, 246, 96);
    border-style: dotted;
    border-width: 20px;
}